In [1]:
import pandas as pd

In [20]:
# UnicodeDecodeError <-- engine='python'
# ParserError: Expected 9 fields in line 9, saw 15 <-- bad line 문제일 가능성이 있음 (error_bad_lines=False)
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949')

data.drop(['Unnamed: 5'], axis=1, inplace=True)

print(data)

   1      하이     연습     ㅎㅎ   2022-03-13 15:56:52
0  2      하이     연습     ㅎㅎ   2022-03-13 15:56:55
1  3   제발되어라     ㅇㅇ   이게무슨   2022-03-13 15:57:10
2  5    크래프트   먹을만함   콜드브루   2022-03-13 17:05:16

In [22]:
data.head()

   1      하이     연습     ㅎㅎ   2022-03-13 15:56:52
0  2      하이     연습     ㅎㅎ   2022-03-13 15:56:55
1  3   제발되어라     ㅇㅇ   이게무슨   2022-03-13 15:57:10
2  5    크래프트   먹을만함   콜드브루   2022-03-13 17:05:16

In [23]:
data.columns = ['board_no','title','content','writer','reg_date']

data

   board_no   title content writer              reg_date
0         2      하이      연습     ㅎㅎ   2022-03-13 15:56:55
1         3   제발되어라      ㅇㅇ   이게무슨   2022-03-13 15:57:10
2         5    크래프트    먹을만함   콜드브루   2022-03-13 17:05:16

In [31]:
data = pd.read_csv("mysql2csv.csv", header=None, engine='python', encoding='CP949')
data.drop([5], axis=1, inplace=True)

print(data)

   0       1      2      3                     4
0  1      하이     연습     ㅎㅎ   2022-03-13 15:56:52
1  2      하이     연습     ㅎㅎ   2022-03-13 15:56:55
2  3   제발되어라     ㅇㅇ   이게무슨   2022-03-13 15:57:10
3  5    크래프트   먹을만함   콜드브루   2022-03-13 17:05:16

In [32]:
data.columns = ['board_no','title','content','writer','reg_date']

data

   board_no   title content writer              reg_date
0         1      하이      연습     ㅎㅎ   2022-03-13 15:56:52
1         2      하이      연습     ㅎㅎ   2022-03-13 15:56:55
2         3   제발되어라      ㅇㅇ   이게무슨   2022-03-13 15:57:10
3         5    크래프트    먹을만함   콜드브루   2022-03-13 17:05:16

In [33]:
import pymysql
import datetime
import pickle

MYSQL_USER_DATA_SAVED_FILE = "mysql/userinfo"

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [34]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'non_jpa_db'
)

In [35]:
sql = """
    select * from board;
"""

data = pd.read_sql_query(sql, db)
data.to_csv(r"db2csv.csv", index = False, encoding='utf-8-sig')

C:\python\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [36]:
db.close()

In [37]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C83F-50B9

 C:\practice\python 디렉터리

2022-05-20  오후 04:39    <DIR>          .
2022-05-20  오후 04:39    <DIR>          ..
2022-05-20  오후 04:33    <DIR>          .idea
2022-05-20  오후 03:45    <DIR>          .ipynb_checkpoints
2022-05-13  오후 04:47                37 colors
2022-05-20  오후 04:39               252 db2csv.csv
2022-05-16  오후 05:39    <DIR>          mysql
2022-05-19  오후 05:54               194 mysql2csv.csv
2022-05-12  오후 06:55            15,480 python 1.ipynb
2022-05-13  오후 06:01            37,890 python 2.ipynb
2022-05-16  오후 06:08            16,073 python 3.ipynb
2022-05-17  오후 06:05           332,399 python 4.ipynb
2022-05-19  오후 05:57            23,672 python 5.ipynb
2022-05-20  오후 04:39            10,757 python 6.ipynb
2022-05-13  오후 04:43                12 test.txt
2022-05-19  오후 05:29            70,281 test_1.jpg
2022-05-19  오후 05:29            18,367 test_10.jpg
2022-05-19  오후 05:29             7,031 test_11.jpg
2022-05-19  오후 05:29            49,909 test_12.jpg
2022-05-19  오후 05:29            47,983 test_13.jpg
2022-05-19  오후 05:29            57,033 test_14.jpg
2022-05-19  오후 05:29           215,245 test_15.jpg
2022-05-19  오후 05:29            40,785 test_16.jpg
2022-05-19  오후 05:29           143,856 test_17.jpg
2022-05-19  오후 05:29            30,663 test_18.jpg
2022-05-19  오후 05:29            22,085 test_19.jpg
2022-05-19  오후 05:29            34,634 test_2.jpg
2022-05-19  오후 05:29            38,436 test_20.jpg
2022-05-19  오후 05:29            38,562 test_21.jpg
2022-05-19  오후 05:29            48,526 test_22.jpg
2022-05-19  오후 05:29            25,745 test_23.jpg
2022-05-19  오후 05:29            68,142 test_24.jpg
2022-05-19  오후 05:29           339,394 test_25.jpg
2022-05-19  오후 05:29           135,023 test_26.jpg
2022-05-19  오후 05:29            93,574 test_27.jpg
2022-05-19  오후 05:29           145,661 test_28.jpg
2022-05-19  오후 05:29            15,215 test_29.jpg
2022-05-19  오후 05:29            37,519 test_3.jpg
2022-05-19  오후 05:29            54,727 test_30.jpg
2022-05-19  오후 05:29           123,040 test_31.jpg
2022-05-19  오후 05:29           138,203 test_32.jpg
2022-05-19  오후 05:29            82,515 test_33.jpg
2022-05-19  오후 05:29            58,332 test_34.jpg
2022-05-19  오후 05:29            33,353 test_35.jpg
2022-05-19  오후 05:29            68,472 test_36.jpg
2022-05-19  오후 05:29            58,170 test_37.jpg
2022-05-19  오후 05:29           584,105 test_38.jpg
2022-05-19  오후 05:29             8,183 test_39.jpg
2022-05-19  오후 05:29            16,621 test_4.jpg
2022-05-19  오후 05:29            27,553 test_40.jpg
2022-05-19  오후 05:29            61,166 test_41.jpg
2022-05-19  오후 05:29            39,614 test_42.jpg
2022-05-19  오후 05:29            21,745 test_43.jpg
2022-05-19  오후 05:29           601,519 test_44.jpg
2022-05-19  오후 05:29            41,273 test_45.jpg
2022-05-19  오후 05:29            25,752 test_46.jpg
2022-05-19  오후 05:29            76,820 test_47.jpg
2022-05-19  오후 05:29            68,131 test_48.jpg
2022-05-19  오후 05:29            83,187 test_49.jpg
2022-05-19  오후 05:29            37,967 test_5.jpg
2022-05-19  오후 05:29           518,453 test_50.jpg
2022-05-19  오후 05:29           100,117 test_51.jpg
2022-05-19  오후 05:29            62,585 test_52.jpg
2022-05-19  오후 05:29            20,940 test_53.jpg
2022-05-19  오후 05:29            23,842 test_54.jpg
2022-05-19  오후 05:29            45,427 test_55.jpg
2022-05-19  오후 05:29            39,750 test_56.jpg
2022-05-19  오후 05:29            81,857 test_57.jpg
2022-05-19  오후 05:29            29,713 test_58.jpg
2022-05-19  오후 05:29           118,112 test_59.jpg
2022-05-19  오후 05:29            51,948 test_60.jpg
2022-05-19  오후 05:29            41,828 test_61.jpg
2022-05-19  오후 05:29           122,772 test_62.jpg
2022-05-19  오후 05:29            10,420 test_63.jpg
2022-05-19  오후 05:29           101,881 test_64.jpg
2022-05-19  오후 05:29            95,087 test_65.jpg
2022-05-19  오후 05:29            22,816 test_66.jpg
2022-05-19  오후 05:29           254,240 test_67.jpg
2022-05-19  오후 05:29            43,138 test_68.jpg
2022-05-19  오후 05:29            68,091 test_69.jpg
2022-05-19  오후 05:29            85,411 test_7.jpg
2022-05-19  오후 05:29           227,984 test_70.jpg
2022-05-19  오후 05:29            19,191 test_71.jpg
2022-05-19  오후 05:29             9,612 test_72.jpg
2022-05-19  오후 05:29            13,965 test_73.jpg
2022-05-19  오후 05:29            47,800 test_74.jpg
2022-05-19  오후 05:29             7,409 test_75.jpg
2022-05-19  오후 05:29            20,163 test_76.jpg
2022-05-19  오후 05:29            42,539 test_77.jpg
2022-05-19  오후 05:29            18,635 test_78.jpg
2022-05-19  오후 05:29            49,761 test_79.jpg
2022-05-19  오후 05:29           148,625 test_8.jpg
2022-05-19  오후 05:29           125,459 test_80.jpg
2022-05-19  오후 05:29            24,217 test_9.jpg
              89개 파일           7,164,671 바이트
               5개 디렉터리  345,877,643,264 바이트 남음

In [38]:
# csv -> db

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

In [39]:
cursor = db.cursor()
# 커서가 있어야 db를 제어할 수 있다.

sql = """
    create table csv_to_db_test(
        board_no int unsigned not null auto_increment,
        title varchar(200) not null,
        content text not null,
        writer varchar(50) not null,
        reg_date timestamp default now(),
        primary key(board_no)
    )
"""

cursor.execute(sql)
# 쿼리 실행
db.commit()
# db에 적용
db.close()
print('테이블 생성 성공!')

테이블 생성 성공!

In [40]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

In [41]:
import csv

In [51]:
f = open('db2csv.csv', 'r', encoding='UTF-8')
# csv_reader = csv.reader(f, delimiter='\t')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

<_csv.reader object at 0x0000026B95F41400>

In [52]:
cnt = 0

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
        
    print(row)
    board_no = (row[0])
    title = (row[1])
    content = (row[2])
    writer = (row[3])
    reg_date = (row[4])
    
    print(board_no, title, content, writer, reg_date)
    
    sql = """
        insert into csv_to_db_test (board_no, title, content, writer, reg_date) values (%s, %s, %s, %s, %s)
    """
    
    cursor.execute(sql, (board_no, title, content, writer, reg_date))
    
db.commit()

f.close()
db.close()

['1', '하이', '연습', 'ㅎㅎ', '2022-03-13 15:56:52']
1 하이 연습 ㅎㅎ 2022-03-13 15:56:52
['2', '하이', '연습', 'ㅎㅎ', '2022-03-13 15:56:55']
2 하이 연습 ㅎㅎ 2022-03-13 15:56:55
['3', '제발되어라', 'ㅇㅇ', '이게무슨', '2022-03-13 15:57:10']
3 제발되어라 ㅇㅇ 이게무슨 2022-03-13 15:57:10
['5', '크래프트', '먹을만함', '콜드브루', '2022-03-13 17:05:16']
5 크래프트 먹을만함 콜드브루 2022-03-13 17:05:16