In [1]:
import pandas as pd

In [3]:
# UnicodeDecodeError <-- engine='python'
# ParserError: Expected 9 fields in line 9, saw 15 <-- bad line 문제일 가능성이 있음 (error_bad_lines=False)
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949')

print(data)

   1      하이     연습     ㅎㅎ   2022-03-13 15:56:52  Unnamed: 5
0  2      하이     연습     ㅎㅎ   2022-03-13 15:56:55         NaN
1  3   제발되어라     ㅇㅇ   이게무슨   2022-03-13 15:57:10         NaN
2  5    크래프트   먹을만함   콜드브루   2022-03-13 17:05:16         NaN

In [4]:
data.head()

   1      하이     연습     ㅎㅎ   2022-03-13 15:56:52  Unnamed: 5
0  2      하이     연습     ㅎㅎ   2022-03-13 15:56:55         NaN
1  3   제발되어라     ㅇㅇ   이게무슨   2022-03-13 15:57:10         NaN
2  5    크래프트   먹을만함   콜드브루   2022-03-13 17:05:16         NaN

In [7]:
data.columns = ['board_no','title','content','writer','reg_date','Not Use']

data

   board_no   title content writer              reg_date  Not Use
0         2      하이      연습     ㅎㅎ   2022-03-13 15:56:55      NaN
1         3   제발되어라      ㅇㅇ   이게무슨   2022-03-13 15:57:10      NaN
2         5    크래프트    먹을만함   콜드브루   2022-03-13 17:05:16      NaN